In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt

In [2]:
names = ["id","CT","ucsize","ucshape","MA","SECS","BN","BC","NN","mitosis","clas"]
data = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data",names = names, index_col = False)

In [3]:
data.head(10)

        id  CT  ucsize  ucshape  MA  SECS  BN  BC  NN  mitosis  clas
0  1000025   5       1        1   1     2   1   3   1        1     2
1  1002945   5       4        4   5     7  10   3   2        1     2
2  1015425   3       1        1   1     2   2   3   1        1     2
3  1016277   6       8        8   1     3   4   3   7        1     2
4  1017023   4       1        1   3     2   1   3   1        1     2
5  1017122   8      10       10   8     7  10   9   7        1     4
6  1018099   1       1        1   1     2  10   3   1        1     2
7  1018561   2       1        2   1     2   1   3   1        1     2
8  1033078   2       1        1   1     2   1   1   1        5     2
9  1033078   4       2        1   1     2   1   2   1        1     2

In [4]:
data.replace("?",-99999,inplace= True)

In [5]:
data.drop("id",1,inplace=True)

In [6]:
data.clas.unique()

array([2, 4], dtype=int64)

In [7]:
x= np.array(data.drop("clas",1))

In [8]:
y = np.array(data["clas"])

In [9]:
x.shape

(699, 9)

In [10]:
x_train,x_test, y_train,y_test= train_test_split(x,y, test_size = 0.20)

In [11]:
clf= KNeighborsClassifier()

In [12]:
clf.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [13]:
score = clf.score(x_test,y_test)

In [14]:
print("the accuracy for our algorithm is: ", str(score))

the accuracy for our algorithm is:  0.9857142857142858

In [21]:
test= [3,2,10,3,1,1,0,4,10]

xtest= np.array(test).reshape(1,-1)

In [22]:
prediction= clf.predict(xtest)
print("we predict that the results are: ", str(prediction))

we predict that the results are:  [2]